<div fxLayout="column wrap" style="padding:24px;" class="loss-claim-page" fxLayoutGap="16px" fxLayoutAlign="start stretch" [fxShow]="true">
  <h1 class="fnol-header">
    FNOL / Loss Claim<div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div><mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
      <mat-label></mat-label>
      <mat-select placeholder="Search By" [(ngModel)]="page.searchByOptions" [required]="true" (selectionChange)="validateField()" name="search_by" id="search_by" [options]="page.searchByOptions">
        <ng-template ngFor let-option [ngForOf]="page.searchByOptions" let-i="index">
          <mat-option [value]="option.value">{{option.label}}</mat-option>
        </ng-template>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
      <input matInput [(ngModel)]="page.searchValue" name="search_value" type="text" placeholder="Policy Number / Registration / Customer ID" [required]="true" (blur)="policySearchValueChanged()" id="search_value">

    </mat-form-field><button mat-button class="fnol-btn-primary fnol-btn" (click)="fetchPolicy()" type="button">Search Policy</button><button mat-button class="fnol-btn-secondary fnol-btn" (click)="resetPolicyAndClaim()" type="button">Reset</button>
  </h1>
</div>
<div fxLayout="column wrap" style="padding:24px;" class="policy-details loss-claim-page" fxLayoutGap="16px" fxLayoutAlign="start stretch">
  <div class="fnol-error">
    {{page.errors.policySearch}}
  </div>
  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policynumber" name="policy_number" type="text" placeholder="Policy Number" [required]="false" (blur)="validateField()" readonly="true" id="policy_number">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.insuredname" name="insured_name" type="text" placeholder="Insured Name" [required]="false" (blur)="validateField()" readonly="true" id="insured_name">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.vehicleregistration" name="vehicle_registration" type="text" placeholder="Vehicle Registration" [required]="false" (blur)="validateField()" readonly="true" id="vehicle_registration">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policystatus" name="policy_status" type="text" placeholder="Policy Status" [required]="false" (blur)="validateField()" readonly="true" id="policy_status">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policystartdate" name="policy_start_date" type="text" placeholder="Policy Start Date" [required]="false" (blur)="validateField()" readonly="true" id="policy_start_date">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policyenddate" name="policy_end_date" type="text" placeholder="Policy End Date" [required]="false" (blur)="validateField()" readonly="true" id="policy_end_date">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.coveragetype" name="coverage_type" type="text" placeholder="Coverage Type" [required]="false" (blur)="validateField()" readonly="true" id="coverage_type">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.suminsured" name="sum_insured" type="text" placeholder="Sum Insured" [required]="false" (blur)="validateField()" readonly="true" id="sum_insured">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.excess" name="excess" type="text" placeholder="Excess / Deductible" [required]="false" (blur)="validateField()" readonly="true" id="excess">

  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div><mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
    <mat-label></mat-label>
    <mat-select placeholder="Claimant Type" [(ngModel)]="page.claimantType" [required]="true" (selectionChange)="validateField()" name="claimant_type" id="claimant_type" [options]="page.claimantTypes">
      <ng-template ngFor let-option [ngForOf] let-i="index">
        <mat-option [value]></mat-option>
      </ng-template>
    </mat-select>

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.lossDateTime" name="loss_date_time" type="datetime-local" placeholder="Loss Date &amp; Time" [required]="true" (blur)="validateField()" id="loss_date_time">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.lossLocation" name="loss_location" type="text" placeholder="Loss Location / Address" [required]="true" (blur)="validateField()" id="loss_location">

  </mat-form-field><mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
    <mat-label></mat-label>
    <mat-select placeholder="Loss Type" [(ngModel)]="page.lossType" [required]="true" (selectionChange)="validateField()" name="loss_type" id="loss_type" [options]="page.lossTypes">
      <ng-template ngFor let-option [ngForOf] let-i="index">
        <mat-option [value]></mat-option>
      </ng-template>
    </mat-select>

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.lossDescription" name="loss_description" type="text" placeholder="Loss Description" [required]="true" (blur)="validateField()" id="loss_description">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.driverName" name="driver_name" type="text" placeholder="Driver Name" [required]="true" (blur)="validateField()" id="driver_name">

  </mat-form-field><mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
    <mat-label></mat-label>
    <mat-select placeholder="Driver Licence Status" [(ngModel)]="page.driverLicenceStatus" [required]="true" (selectionChange)="validateField()" name="driver_licence_status" id="driver_licence_status" [options]="page.driverLicenceStatuses">
      <ng-template ngFor let-option [ngForOf] let-i="index">
        <mat-option [value]></mat-option>
      </ng-template>
    </mat-select>

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.estimatedAmount" name="estimated_amount" type="number" placeholder="Estimated Loss Amount" [required]="true" (blur)="validateField()" id="estimated_amount">

  </mat-form-field><mat-radio-button %[value]% %style% %class% %[required]% %id% %name% %(change)% %[disabled]% %[disableRipple]% %[labelPosition]% %[checked]% %color%>%label%</mat-radio-button><mat-radio-button %[value]% %style% %class% %[required]% %id% %name% %(change)% %[disabled]% %[disableRipple]% %[labelPosition]% %[checked]% %color%>%label%</mat-radio-button><mat-radio-button %[value]% %style% %class% %[required]% %id% %name% %(change)% %[disabled]% %[disableRipple]% %[labelPosition]% %[checked]% %color%>%label%</mat-radio-button>
  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div><mat-radio-button %[value]% %style% %class% %[required]% %id% %name% %(change)% %[disabled]% %[disableRipple]% %[labelPosition]% %[checked]% %color%>%label%</mat-radio-button>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policeFirReference" name="police_fir_reference" type="text" placeholder="Police / FIR Reference" [required]="false" (blur)="validateField()" id="police_fir_reference">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.accidentReport" name="accident_report" type="text" placeholder="Accident Report Reference" [required]="false" (blur)="validateField()" id="accident_report">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.damagePhotos" name="damage_photos" type="text" placeholder="Damage Photos Reference" [required]="false" (blur)="validateField()" id="damage_photos">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.repairEstimate" name="repair_estimate" type="text" placeholder="Repair Estimate Reference" [required]="false" (blur)="validateField()" id="repair_estimate">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.policeReport" name="police_report" type="text" placeholder="Police Report Reference" [required]="false" (blur)="validateField()" id="police_report">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.fireReport" name="fire_report" type="text" placeholder="Fire Report Reference" [required]="false" (blur)="validateField()" id="fire_report">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.drivingLicence" name="driving_licence" type="text" placeholder="Driving Licence Reference" [required]="false" (blur)="validateField()" id="driving_licence">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.registration" name="registration" type="text" placeholder="Registration Reference" [required]="false" (blur)="validateField()" id="registration">

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.thirdPartyDetails" name="third_party_details" type="text" placeholder="Third Party Details" [required]="false" (blur)="validateField()" id="third_party_details">

  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div><mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
    <mat-label></mat-label>
    <mat-select placeholder="Preferred Contact" [(ngModel)]="page.preferredContact" [required]="true" (selectionChange)="validateField()" name="preferred_contact" id="preferred_contact" [options]="page.preferredContacts">
      <ng-template ngFor let-option [ngForOf] let-i="index">
        <mat-option [value]></mat-option>
      </ng-template>
    </mat-select>

  </mat-form-field>
  <mat-form-field class="fnol-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.contactValue" name="contact_value" type="text" placeholder="Contact Value" [required]="true" (blur)="validateField()" id="contact_value">

  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true"></div><button mat-button class="fnol-btn-secondary fnol-btn" (click)="clearClaim()" type="button">Clear</button><button mat-button class="fnol-btn-primary fnol-btn" (click)="onSubmitClaim()" type="button">Submit FNOL</button><input type="file" accept=".pdf,.jpg,.jpeg,.png" name="supporting_evidence" class="fnol-file-input">
</div>